h1 {
    text-align: center;
}

.todos {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.todo {
    display: flex;
}

.todo p.done{
    text-decoration: line-through;
}
.form-add-todo{
    display:flex;
    justify-content:center;
    align-items: center;
}

.error{
    color:red;
    font-size : 0,8 rem;
}

.form-add-toto:first-child{
    margin-right: 10px;

}